<template>


  <div
      :style="borderStyle"
      class="relative flex items-center pl-2 pr-6 w-72 max-w-full h-20  bg-white shadow-lg hover:shadow-xl transition duration-100">
    <img class="w-16 h-16 rounded-lg"
         :src="image"
         alt="">
    <p class="ml-4">
      <a href="#" class="text-blue-500 font-medium hover:underline hover:text-blue-600">
        {{ name }}
      </a>{{ text }}
    </p>
    <icon/>
    <!--    <div-->
    <!--        class="absolute flex items-center justify-center w-7 h-7 rounded-lg transform rotate-45 shadow-lg top-0 right-0 -mt-2 -mr-2 bg-purple-400">-->
    <!--      <svg class="w-5 h-5 fill-current text-white transform -rotate-45" xmlns="http://www.w3.org/2000/svg"-->
    <!--           viewBox="0 0 20 20" fill="currentColor">-->
    <!--        <path fill-rule="evenodd"-->
    <!--              d="M5 5a3 3 0 015-2.236A3 3 0 0114.83 6H16a2 2 0 110 4h-5V9a1 1 0 10-2 0v1H4a2 2 0 110-4h1.17C5.06 5.687 5 5.35 5 5zm4 1V5a1 1 0 10-1 1h1zm3 0a1 1 0 10-1-1v1h1z"-->
    <!--              clip-rule="evenodd"/>-->
    <!--        <path d="M9 11H3v5a2 2 0 002 2h4v-7zM11 18h4a2 2 0 002-2v-5h-6v7z"/>-->
    <!--      </svg>-->
    <!--    </div>-->
  </div>
</template>

<script>
import Icon from "@/components/icon";
export default {
  name: "Block",
  components: {Icon},
  props: {
    name: {},
    text: {
      default: "has gifted this product."
    },
    image: {
      default: "https://images.generated.photos/0PFsqYp0XTiayISILkj5ILce1BZEkukUJyXyNza-S3o/rs:fit:256:256/Z3M6Ly9nZW5lcmF0/ZWQtcGhvdG9zL3Yz/XzA5NTk2NjEuanBn.jpg"
    },
    borderRadius:{
      default: 0
    }
  },
  computed:{
    borderStyle(){
      return{
        borderRadius: this.borderRadius
      }
    }
  }
}
</script>

<!--<style scoped>-->

<!--</style>-->