<template>
  <div
     class="absolute flex items-center justify-center w-7 h-7 rounded-lg transform rotate-45 shadow-lg top-0 right-0 -mt-2 -mr-2 bg-purple-400">
       <svg class="w-5 h-5 fill-current text-white transform -rotate-45" xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 20 20" fill="currentColor">
          <path fill-rule="evenodd"
                d="M5 5a3 3 0 015-2.236A3 3 0 0114.83 6H16a2 2 0 110 4h-5V9a1 1 0 10-2 0v1H4a2 2 0 110-4h1.17C5.06 5.687 5 5.35 5 5zm4 1V5a1 1 0 10-1 1h1zm3 0a1 1 0 10-1-1v1h1z"
                 clip-rule="evenodd"/>
         <path d="M9 11H3v5a2 2 0 002 2h4v-7zM11 18h4a2 2 0 002-2v-5h-6v7z"/>
       </svg>
       </div>
</template>

<script>
export default {
name: "icon"
}
</script>

<style scoped>

</style>